<a href="https://colab.research.google.com/github/ImanNoferesti/TensorFlow_DeepDive/blob/main/Tensors_And_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

### Basics

A 0-dimensional tensor, or scalar, is a single numerical value without any dimensions.

In [2]:
tensor_zero_d = tf.constant(4)
print(tensor_zero_d)

tf.Tensor(4, shape=(), dtype=int32)

A 1-dimensional tensor, or vector, is an array of numerical values arranged in a single line, representing a list of elements.

![image.png]()

In [3]:
tensor_one_d = tf.constant([1,2,3])
print(tensor_one_d)

tf.Tensor([1 2 3], shape=(3,), dtype=int32)

A 2-dimensional tensor, or matrix, is an array of numerical values arranged in rows and columns, representing a grid of elements.
![image.png]()

In [4]:
tensor_two_d = tf.constant([
    [1,2,0],
    [3,5,-1],
    [1,5,6],
    [2,3,8]
])
print(tensor_two_d)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]
 [ 2  3  8]], shape=(4, 3), dtype=int32)

A 3-dimensional tensor is an array of numerical values arranged in multiple matrices, representing a cube of elements.

![image.png]()

In [5]:
tensor_three_d = tf.constant([
    [[1,2,0],
     [3,5,-1]],

    [[10,2,0],
     [1,0,2]],

    [[2,1,9],
     [4,-3,32]]
])
print(tensor_three_d)

tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]]

 [[10  2  0]
  [ 1  0  2]]

 [[ 2  1  9]
  [ 4 -3 32]]], shape=(3, 2, 3), dtype=int32)

A 4-dimensional tensor is an array of numerical values arranged in multiple 3D tensors, representing a collection of cubes, often used to represent a batch of images or a sequence of 3D data.

![image.png]()

In [6]:
tensor_four_d = tf.constant([
    [
        [[1,2,3],
         [4,5,6]],

        [[7,8,9],
         [10,11,12]],

        [[13,14,15],
         [16,17,18]]
    ],

    [
        [[19,20,21],
         [22,23,24]],

        [[25,26,27],
         [28,29,30]],

        [[31,32,33],
         [34,35,36]]
    ]
])

print(tensor_four_d)

tf.Tensor(
[[[[ 1  2  3]
   [ 4  5  6]]

  [[ 7  8  9]
   [10 11 12]]

  [[13 14 15]
   [16 17 18]]]


 [[[19 20 21]
   [22 23 24]]

  [[25 26 27]
   [28 29 30]]

  [[31 32 33]
   [34 35 36]]]], shape=(2, 3, 2, 3), dtype=int32)

In TensorFlow, `tensor.shape` is used to get the shape of a tensor, returning a tuple that represents the dimensions of the tensor.

In [7]:
print(tensor_zero_d.shape) # 0d

print(tensor_one_d.shape) # 1d

print(tensor_two_d.shape) # 2d

print(tensor_three_d.shape) # 3d

print(tensor_four_d.shape) # 4d

()
(3,)
(4, 3)
(3, 2, 3)
(2, 3, 2, 3)

In TensorFlow, `tensor.cast()` is used to change the data type of a tensor to a specified type, such as casting a tensor from `tf.float32` to `tf.int32`.

In [8]:
tensor_one_d = tf.constant([2.1, 3.2, 4, 3.3], dtype=tf.float32)
print(tensor_one_d)

casted_tensor_one_d = tf.cast(tensor_one_d, dtype=tf.int32)
print(casted_tensor_one_d)

tf.Tensor([2.1 3.2 4.  3.3], shape=(4,), dtype=float32)
tf.Tensor([2 3 4 3], shape=(4,), dtype=int32)

In NumPy, `numpy.array()` is used to create an array from a list or a sequence of elements, converting the input into a NumPy array.

In [9]:
import numpy as np

In [10]:
np_array = np.array([1,2,3])

print(np_array)

[1 2 3]

In TensorFlow, `tf.convert_to_tensor()` is used to convert a given input, such as a NumPy array or a Python list, into a TensorFlow tensor.

In [11]:
converted_tensor = tf.convert_to_tensor(np_array)

print(converted_tensor)

tf.Tensor([1 2 3], shape=(3,), dtype=int64)

In TensorFlow, `tf.eye()` is used to create a 2-dimensional identity matrix with ones on the diagonal and zeros elsewhere.

In [12]:
eye_tensor = tf.eye(
    num_rows=3,
    num_columns=None,
    batch_shape=None,
    dtype=tf.dtypes.float32,
    name=None
)

print(eye_tensor)

tf.Tensor(
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]], shape=(3, 3), dtype=float32)

In [13]:
eye_tensor = tf.eye(
    num_rows=3,
    num_columns=None,
    batch_shape=[2,],
    dtype=tf.dtypes.float32,
    name=None
)

print(eye_tensor)

tf.Tensor(
[[[1. 0. 0.]
  [0. 1. 0.]
  [0. 0. 1.]]

 [[1. 0. 0.]
  [0. 1. 0.]
  [0. 0. 1.]]], shape=(2, 3, 3), dtype=float32)

In [14]:
eye_tensor = tf.eye(
    num_rows=3,
    num_columns=None,
    batch_shape=[2,2],
    dtype=tf.dtypes.float32,
    name=None
)

print(eye_tensor)

tf.Tensor(
[[[[1. 0. 0.]
   [0. 1. 0.]
   [0. 0. 1.]]

  [[1. 0. 0.]
   [0. 1. 0.]
   [0. 0. 1.]]]


 [[[1. 0. 0.]
   [0. 1. 0.]
   [0. 0. 1.]]

  [[1. 0. 0.]
   [0. 1. 0.]
   [0. 0. 1.]]]], shape=(2, 2, 3, 3), dtype=float32)

In TensorFlow, `tf.fill()` is used to create a tensor with a specified shape and filled with a scalar value. The function signature is `tf.fill(dims, value)`, where `dims` is the shape of the tensor and `value` is the scalar value to fill the tensor with.

In [15]:
filled_tensor = tf.fill([3,4], 5)

print(filled_tensor)

tf.Tensor(
[[5 5 5 5]
 [5 5 5 5]
 [5 5 5 5]], shape=(3, 4), dtype=int32)

In TensorFlow, `tf.ones()` is used to create a tensor with a specified shape and filled with ones.

In [16]:
ones_tensor = tf.ones([3,4])

print(ones_tensor)

tf.Tensor(
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]], shape=(3, 4), dtype=float32)

In TensorFlow, `tf.ones_like()` is used to create a tensor of ones with the same shape and data type as a given input tensor. The function signature is `tf.ones_like(input_tensor, dtype=None, name=None)`, where `input_tensor` is the tensor whose shape and data type are to be matched, and `dtype` (optional) specifies the data type of the new tensor.

In [17]:
ones_like_tensor = tf.ones_like(filled_tensor)

print(ones_like_tensor)

tf.Tensor(
[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]], shape=(3, 4), dtype=int32)

In TensorFlow, `tf.zeros()` is used to create a tensor with a specified shape and filled with zeros. The function signature is `tf.zeros(shape, dtype=tf.float32, name=None)`

In [18]:
zeros_tensor = tf.zeros([3,4])

print(zeros_tensor)

tf.Tensor(
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]], shape=(3, 4), dtype=float32)

In TensorFlow, `tf.zeros_like()` is used to create a tensor of zeros with the same shape and data type as a given input tensor. The function signature is `tf.zeros_like(input_tensor, dtype=None, name=None, optimize=True)`

In [19]:
zeros_like_tensor = tf.zeros_like(filled_tensor)

print(zeros_like_tensor)

tf.Tensor(
[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]], shape=(3, 4), dtype=int32)

In TensorFlow, `tf.shape()` is used to get the shape of a tensor as a 1-D tensor of type int32. The function signature is `tf.shape(input, out_type=tf.dtypes.int32, name=None)`, where `input` is the tensor whose shape is to be determined, `out_type (optional)` specifies the output data type (default is int32), and `name` (optional) gives a name to the operation.

In [20]:
tensor_three_d_shape = tf.shape(tensor_three_d)

print(tensor_three_d_shape)

tf.Tensor([3 2 3], shape=(3,), dtype=int32)

In TensorFlow, `tf.rank()` returns the number of dimensions of a tensor.

In [21]:
tensor = tf.constant([[[1,1,1], [2,2,2]], [[3,3,3], [4,4,4]]])

print(tf.rank(tensor))

tf.Tensor(3, shape=(), dtype=int32)

In TensorFlow, `tf.size()` returns the total number of elements in a tensor. The function signature is `tf.size(input, out_type=tf.dtypes.int32, name=None)`

In [22]:
print(tf.size(tensor))

tf.Tensor(12, shape=(), dtype=int32)

In TensorFlow, `tf.random.normal()` generates a tensor of random values drawn from a normal distribution. The function signature is `tf.random.normal(shape, mean=0.0, stddev=1.0, dtype=tf.float32, seed=None, name=None)`

In [23]:
random_tensor = tf.random.normal(shape=[2,3,2])

print(random_tensor)

tf.Tensor(
[[[ 0.5288095   0.19359903]
  [ 0.8542151  -0.1568846 ]
  [ 0.0033131   1.5257927 ]]

 [[-0.47749874  0.38242435]
  [ 0.8648876   1.455506  ]
  [ 0.15787138 -0.0037236 ]]], shape=(2, 3, 2), dtype=float32)

In TensorFlow, `tf.random.uniform()` generates a tensor of random values drawn from a uniform distribution. The function signature is `tf.random.uniform(shape, minval=0, maxval=None, dtype=tf.float32, seed=None, name=None)` where:

`shape` specifies the shape of the output tensor.

`minval` is the lower bound of the uniform distribution (default is 0).

`maxval` is the upper bound of the distribution (if None, defaults to 1).

In [24]:
random_uniform_tensor = tf.random.uniform(shape=[2,3,2])

print(random_uniform_tensor)

tf.Tensor(
[[[0.8624009  0.13641047]
  [0.01917815 0.33933938]
  [0.36999547 0.21268702]]

 [[0.6712866  0.91566265]
  [0.29582715 0.8164396 ]
  [0.00506139 0.6956626 ]]], shape=(2, 3, 2), dtype=float32)

### Indexing

Tensor indexing is the process of accessing specific elements, slices, or sub-tensors within a multi-dimensional tensor using indices along each dimension.

In [25]:
tensor = tf.constant([3,6,2,4,66,7])

print(tensor)
print(tensor[0:4])
print(tensor[:4])
print(tensor[3:])
print(tensor[1:-1]) # Accesses the elements starting from index 1 to the second-to-last element
print(tensor[0:6:2]) # Accesses every second element starting from index 0 up to index 5

tf.Tensor([ 3  6  2  4 66  7], shape=(6,), dtype=int32)
tf.Tensor([3 6 2 4], shape=(4,), dtype=int32)
tf.Tensor([3 6 2 4], shape=(4,), dtype=int32)
tf.Tensor([ 4 66  7], shape=(3,), dtype=int32)
tf.Tensor([ 6  2  4 66], shape=(4,), dtype=int32)
tf.Tensor([ 3  2 66], shape=(3,), dtype=int32)

In [26]:
print(tensor_two_d, "\n")

print(tensor_two_d[:3 , :2], "\n") # This selects the first 3 rows (0, 1, 2) and the first 2 columns (0, 1) of the 2D tensor.

print(tensor_two_d[:3,:], "\n") # This selects the first 3 rows (0, 1, 2) and all columns of the 2D tensor.

print(tensor_two_d[2,:], "\n")

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]
 [ 2  3  8]], shape=(4, 3), dtype=int32)

tf.Tensor(
[[1 2]
 [3 5]
 [1 5]], shape=(3, 2), dtype=int32)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]], shape=(3, 3), dtype=int32)

tf.Tensor([1 5 6], shape=(3,), dtype=int32)

In [27]:
print(tensor_three_d, "\n")

print(tensor_three_d[0, :, :], "\n") # selecting first slice (index 0) of the 3D tensor, which includes all elements across the second and third dimensions

print(tensor_three_d[:1, :2, 0], "\n") #  selecting the first slice, the first two elements of the second dimension, and the first element of the third dimension.

print(tensor_three_d[..., :1, -1]) # all leading dimensions are included, but only the first element of the second-to-last dimension and the last element of the last dimension are selected

tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]]

 [[10  2  0]
  [ 1  0  2]]

 [[ 2  1  9]
  [ 4 -3 32]]], shape=(3, 2, 3), dtype=int32)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)

tf.Tensor([[1 3]], shape=(1, 2), dtype=int32)

tf.Tensor(
[[0]
 [0]
 [9]], shape=(3, 1), dtype=int32)

### Math Operations

`tf.abs()` in TensorFlow computes the element-wise absolute value of the given tensor.

In [28]:
tensor = tf.constant([-2.25, 3.25, -4])

tensor_abs = tf.abs(tensor)
print(tensor_abs)

tf.Tensor([2.25 3.25 4.  ], shape=(3,), dtype=float32)

The `tf.sqrt(x)` function in TensorFlow computes the element-wise square root of the input tensor `x`.

In [29]:
tensor_sqrt = tf.sqrt(tensor_abs)
print(tensor_sqrt)

tf.Tensor([1.5       1.8027756 2.       ], shape=(3,), dtype=float32)

The `tf.add(x, y)` function in TensorFlow performs element-wise addition of two tensors `x` and `y`. The tensors must have the same shape, or be broadcastable to a common shape.

In [30]:
tf.add(tensor_abs, tensor_sqrt)

The `tf.multiply(x, y)` function in TensorFlow performs element-wise multiplication of two tensors `x` and `y`. The tensors must have the same shape or be broadcastable to a common shape.

In [31]:
tf.multiply(tensor_abs, tensor_sqrt)

The `tf.divide(x, y)` function in TensorFlow performs element-wise division of tensor `x` by tensor `y`. The tensors must have the same shape or be broadcastable to a common shape.

In [32]:
tf.divide(tensor_abs, tensor_sqrt)

The `tf.math.divide_no_nan(x, y)` function in TensorFlow performs element-wise division of tensor `x` by tensor `y`, but handles cases where the denominator (`y`) is `zero` or `NaN` (Not a Number). Instead of producing NaNs or infinities in such cases, it returns a specified default value for these situations. This helps to avoid undefined or erroneous results in computations.

In [33]:
tf.math.divide_no_nan(tensor_abs, 0)

The `tf.math.maximum(x, y)` function in TensorFlow performs element-wise comparison between two tensors `x` and `y`, returning a new tensor where each element is the maximum of the corresponding elements in `x` and `y`. The tensors must have the same shape or be broadcastable to a common shape.

In [34]:
print(tensor_abs, "\n\n", tensor_sqrt, "\n")

tf.maximum(tensor_abs, tensor_sqrt)

tf.Tensor([2.25 3.25 4.  ], shape=(3,), dtype=float32)

 tf.Tensor([1.5       1.8027756 2.       ], shape=(3,), dtype=float32)

The `tf.math.minimum(x, y)` function in TensorFlow performs element-wise comparison between two tensors `x` and `y`, returning a new tensor where each element is the minimum of the corresponding elements in `x` and `y`. The tensors must have the same shape or be broadcastable to a common shape.

In [35]:
tf.minimum(tensor_abs, tensor_sqrt)

The `tf.math.argmax(x, axis)` function in TensorFlow returns the **indices** of the maximum values along a specified axis of the tensor `x`. The `axis` parameter specifies the dimension along which to find the maximum values. The result is a tensor of indices where each element represents the index of the maximum value in that dimension. If `axis` is not specified, it defaults to finding the index of the maximum value across the entire tensor.

In [36]:
print(tensor, "\n")

print(tf.math.argmax(tensor)) # Return index 1

tf.Tensor([-2.25  3.25 -4.  ], shape=(3,), dtype=float32)

tf.Tensor(1, shape=(), dtype=int64)

In [37]:
print(tensor_three_d, "\n") # Has three dimensions => 0 for layers axis, 1 for rows axis, 2 for columns axis

print(tf.math.argmax(tensor_three_d, 1))

tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]]

 [[10  2  0]
  [ 1  0  2]]

 [[ 2  1  9]
  [ 4 -3 32]]], shape=(3, 2, 3), dtype=int32)

tf.Tensor(
[[1 1 0]
 [0 0 1]
 [1 0 1]], shape=(3, 3), dtype=int64)

The `tf.math.argmin(x, axis)` function in TensorFlow returns the indices of the **minimum** values along a specified axis of the tensor `x`. The `axis` parameter indicates the dimension along which to find the minimum values. The result is a tensor of indices where each element represents the index of the minimum value in that dimension. If `axis` is not specified, it defaults to finding the index of the minimum value across the entire tensor.

In [38]:
print(tf.math.argmin(tensor_three_d, 1))

tf.Tensor(
[[0 0 1]
 [1 1 0]
 [0 1 0]], shape=(3, 3), dtype=int64)

The `tf.math.equal(x, y)` function in TensorFlow performs element-wise comparison between two tensors `x` and `y`, returning a tensor of boolean values where each element is `True` if the corresponding elements in `x` and `y` are equal, and `False` otherwise. The tensors must have the same shape or be broadcastable to a common shape.

In [39]:
tf.math.equal(tensor_abs, tensor_sqrt)

The `tf.math.pow(x, y)` function in TensorFlow performs element-wise exponentiation, where each element of tensor `x` is raised to the power of the corresponding element in tensor `y`. The tensors `x` and `y` must have the same shape or be broadcastable to a common shape.

In [40]:
print(tf.math.pow(tensor_abs, 2))

print(tf.math.pow(tensor_abs, [2, 3, 4]))

tf.Tensor([ 5.0625 10.5625 16.    ], shape=(3,), dtype=float32)
tf.Tensor([  5.0625    34.328125 256.      ], shape=(3,), dtype=float32)

The `tf.reduce_sum(input_tensor, axis)` function in TensorFlow computes the sum of elements across a specified `axis` of the tensor `input_tensor`. If `axis` is not specified, it sums all elements of the tensor. The result is a tensor with reduced dimensions based on the specified axis, where each element is the sum of the elements along that axis.

In [41]:
print(tensor_two_d, "\n")

print(tf.reduce_sum(tensor_two_d), "\n") # Returns the sums of all values

print(tf.reduce_sum(tensor_two_d, 0), "\n") # Returns the sums of all row values in each column

print(tf.reduce_sum(tensor_two_d, 1)) # Returns the sums of all column values in each row

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]
 [ 2  3  8]], shape=(4, 3), dtype=int32)

tf.Tensor(35, shape=(), dtype=int32)

tf.Tensor([ 7 15 13], shape=(3,), dtype=int32)

tf.Tensor([ 3  7 12 13], shape=(4,), dtype=int32)

TensorFlow provides several `tf.reduce_*` functions to perform reduction operations on tensors. Some of the commonly used ones include:

`tf.reduce_mean(input_tensor, axis)`: Computes the mean of elements across the specified axis.

`tf.reduce_max(input_tensor, axis)`: Finds the maximum value of elements across the specified axis.

`tf.reduce_min(input_tensor, axis)`: Finds the minimum value of elements across the specified axis.

`tf.reduce_prod(input_tensor, axis)`: Computes the product of elements across the specified axis.

`tf.reduce_all(input_tensor, axis)`: Returns True if all elements across the specified axis are True.

`tf.reduce_any(input_tensor, axis)`: Returns True if any element across the specified axis is True.

`tf.reduce_variance(input_tensor, axis)`: Computes the variance of elements across the specified axis.

`tf.reduce_std(input_tensor, axis)`: Computes the standard deviation of elements across the specified axis.

The `tf.math.sigmoid(x)` function in TensorFlow applies the sigmoid activation function element-wise to the input tensor `x`. The sigmoid function is defined as:

`𝜎(𝑥) = 1 / (1 + 𝑒 ^ −𝑥)`

This function maps input values to a range between 0 and 1, making it commonly used in binary classification problems and as an activation function in neural networks. The output tensor has the same shape as the input tensor, with each element transformed by the sigmoid function.

In [42]:
print(tensor_two_d, "\n")
tensor_two_d = np.array(tensor_two_d, dtype=np.float32)
print(tf.math.sigmoid(tensor_two_d))

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]
 [ 2  3  8]], shape=(4, 3), dtype=int32)

tf.Tensor(
[[0.73105854 0.880797   0.5       ]
 [0.95257413 0.9933072  0.26894143]
 [0.73105854 0.9933072  0.9975274 ]
 [0.880797   0.95257413 0.99966466]], shape=(4, 3), dtype=float32)

The `tf.math.top_k(input, k)` function in TensorFlow retrieves the top `k` highest values and their corresponding indices along the last dimension of the input tensor. The function returns a tuple containing two tensors:

1. Values: A tensor of the top `k` values.
2. Indices: A tensor of the indices corresponding to these top `k` values in the original tensor.

The input tensor can be multi-dimensional, but the operation is applied along the last dimension by default. The result retains the shape of the input tensor, with the size of the last dimension reduced to `k`.

In [43]:
print(tensor_two_d, "\n")
tf.math.top_k(tensor_two_d)

[[ 1.  2.  0.]
 [ 3.  5. -1.]
 [ 1.  5.  6.]
 [ 2.  3.  8.]]

TopKV2(values=<tf.Tensor: shape=(4, 1), dtype=float32, numpy=
array([[2.],
       [5.],
       [6.],
       [8.]], dtype=float32)>, indices=<tf.Tensor: shape=(4, 1), dtype=int32, numpy=
array([[1],
       [1],
       [2],
       [2]], dtype=int32)>)

In [44]:
tf.math.top_k(tensor_two_d, k = 2)

TopKV2(values=<tf.Tensor: shape=(4, 2), dtype=float32, numpy=
array([[2., 1.],
       [5., 3.],
       [6., 5.],
       [8., 3.]], dtype=float32)>, indices=<tf.Tensor: shape=(4, 2), dtype=int32, numpy=
array([[1, 0],
       [1, 0],
       [2, 1],
       [2, 1]], dtype=int32)>)

### Linear Algebra

The `tf.linalg.matmul(a, b)` function in TensorFlow performs **matrix multiplication** between two tensors `a` and `b`. For 2D tensors, it computes the dot product of rows from `a` with columns from `b`.

For higher-dimensional tensors, it applies matrix multiplication to the last two dimensions while broadcasting across the other dimensions as needed. The shapes of `a` and `b` must be compatible for this operation.

In [45]:
mat_1 = tf.constant([[1,2,0],
                     [3,5,-1]])

mat_2 = tf.constant([[1,2,0],
                     [3,5,-1],
                     [4,5,6]])

print(mat_1.shape, mat_2.shape, "\n")

tf.linalg.matmul(mat_1, mat_2) # Number of columns in mat_1 should be = Number of rows in mat_2
                              # Output shape is based on mat_1 rows and mat_2 columns

(2, 3) (3, 3)

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[  7,  12,  -2],
       [ 14,  26, -11]], dtype=int32)>

An alternative way to perfom matrix multiplication is to use `@`.

In [46]:
print(mat_1 @ mat_2)

tf.Tensor(
[[  7  12  -2]
 [ 14  26 -11]], shape=(2, 3), dtype=int32)

The `tf.transpose(x, perm)` function in TensorFlow swaps the dimensions of the tensor `x` according to the specified permutation `perm`. The `perm` parameter is a list or tuple that defines the desired ordering of the dimensions. If `perm` is not specified, it reverses the order of the dimensions by default.

In [47]:
tf.transpose(mat_1)

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[ 1,  3],
       [ 2,  5],
       [ 0, -1]], dtype=int32)>

The `tf.linalg.band_part(input, num_lower, num_upper)` function extracts a band from a matrix, keeping the main diagonal and a specified number of diagonals above (`num_upper`) and below (`num_lower`), while setting all other elements to zero.

* `num_lower`: The number of sub-diagonals to include below
the main diagonal. If set to a non-negative integer, it includes that many diagonals below the main diagonal. If set to -1, all sub-diagonals are included.

* `num_upper`: The number of super-diagonals to include above the main diagonal. If set to a non-negative integer, it includes that many diagonals above the main diagonal. If set to -1, all super-diagonals are included.

In [48]:
print(tensor_two_d, "\n")

print(tf.linalg.band_part(tensor_two_d, 0, 0), "\n") # Extracts only the main diagonal of the 2D tensor, setting all other elements to zero

print(tf.linalg.band_part(tensor_two_d, 1, 1)) # Extracts a band around the main diagonal of the 2D tensor, including the main diagonal, one sub-diagonal (below the main diagonal), and one super-diagonal (above the main diagonal). All other elements outside this band are set to zero.

[[ 1.  2.  0.]
 [ 3.  5. -1.]
 [ 1.  5.  6.]
 [ 2.  3.  8.]]

tf.Tensor(
[[1. 0. 0.]
 [0. 5. 0.]
 [0. 0. 6.]
 [0. 0. 0.]], shape=(4, 3), dtype=float32)

tf.Tensor(
[[ 1.  2.  0.]
 [ 3.  5. -1.]
 [ 0.  5.  6.]
 [ 0.  0.  8.]], shape=(4, 3), dtype=float32)

The `tf.linalg.cross(a, b)` function computes the 3D cross product of two tensors `a` and `b` along their last dimension, resulting in a tensor of vectors perpendicular to the input vectors.

* `a` and `b`: Must be tensors with shape `(..., 3)`, where the last dimension has size 3.

The result is a tensor with the same shape as `a` and `b`, containing the cross product for each pair of corresponding 3D vectors in the input tensors.

In [49]:
print(mat_1, "\n")

print(tf.linalg.cross(mat_1, mat_1))

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)

tf.Tensor(
[[0 0 0]
 [0 0 0]], shape=(2, 3), dtype=int32)

The `tf.linalg.inv(x)` function in TensorFlow computes the inverse of a square matrix or a batch of square matrices. The input tensor `x` must be a square matrix (2D) or a batch of square matrices (3D), and the result is a tensor of the same shape where each matrix is replaced by its inverse.

In [50]:
mat_3 = tf.constant([[1,2,0],
                     [4,-5,60],
                     [7,18,-9]], dtype=tf.float32)

tf.linalg.inv(mat_3)

<tf.Tensor: shape=(3, 3), dtype=float32, numpy=
array([[ 8.414635  , -0.14634147, -0.9756098 ],
       [-3.7073174 ,  0.07317074,  0.4878049 ],
       [-0.86991876,  0.03252033,  0.10569107]], dtype=float32)>

The `tf.linalg.svd(x)` function in TensorFlow computes the Singular Value Decomposition (SVD) of a matrix or a batch of matrices. It decomposes the input tensor `x` into three components:

1. `U`: A tensor of left singular vectors.

2. `S`: A tensor of singular values (diagonal matrix or vector).

3. `V`: A tensor of right singular vectors (transposed if `x` is a matrix).

For a matrix `x`, the decomposition is `𝑥 = 𝑈 ⋅ 𝑆 ⋅ 𝑉 ^ T`

If `x` is a batch of matrices, the function returns the decomposition for each matrix in the batch.

In [51]:
print(mat_3, "\n")

s,u,v = tf.linalg.svd(mat_3)

print(s, "\n")
print(u, "\n")
print(v)

tf.Tensor(
[[ 1.  2.  0.]
 [ 4. -5. 60.]
 [ 7. 18. -9.]], shape=(3, 3), dtype=float32)

tf.Tensor([61.245174   18.681993    0.10750052], shape=(3,), dtype=float32)

tf.Tensor(
[[ 0.00363813  0.11895824 -0.9928925 ]
 [-0.98372084  0.17881788  0.01781972]
 [ 0.1796668   0.9766641   0.11767227]], shape=(3, 3), dtype=float32)

tf.Tensor(
[[-0.04365371  0.41060278 -0.91076875]
 [ 0.13323301  0.9058872   0.40201622]
 [-0.9901228   0.10379489  0.09425117]], shape=(3, 3), dtype=float32)

The `tf.einsum(equation, *inputs)` function performs tensor operations using Einstein summation notation, allowing for complex reductions and multiplications specified in a concise string format.

* `equation`: A string that defines the desired tensor operation, including summation and contraction patterns.

* `*inputs`: The tensors to be operated on, matching the dimensions specified in the equation.

For example, `tf.einsum('ij,jk->ik', A, B)` performs **matrix multiplication** of tensors `A` and `B`, where `'ij'` and `'jk'` represent the indices of `A` and `B` respectively, and `'ik'` represents the resulting tensor's indices.

In [52]:
print(mat_1, "\n\n", mat_2, "\n\n")

tf.einsum("ij,jk->ik", mat_1, mat_2)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)

 tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 4  5  6]], shape=(3, 3), dtype=int32)

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[  7,  12,  -2],
       [ 14,  26, -11]], dtype=int32)>

In [53]:
mat_4 = tf.constant([[1,1,2],
                     [4,-2,-1]])

print(mat_1, "\n\n", mat_4, "\n\n")

tf.einsum("ij,ij->ij", mat_1, mat_4) # Matrix multiplication (Element-wise)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)

 tf.Tensor(
[[ 1  1  2]
 [ 4 -2 -1]], shape=(2, 3), dtype=int32)

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[  1,   2,   0],
       [ 12, -10,   1]], dtype=int32)>

In [54]:
print(mat_1, "\n\n")

tf.einsum("ij -> ji", mat_1) # Transpose matrix

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[ 1,  3],
       [ 2,  5],
       [ 0, -1]], dtype=int32)>

In [55]:
batch_1 = tf.constant([
    [[2,6,5,2],
     [2,-2,2,3],
     [1,5,4,0]],

    [[1,3,1,22],
     [0,2,2,0],
     [1,5,4,1]]
    ])

batch_2 = tf.constant([
    [[2,9,0,3,0],
     [3,6,8,-2,2],
     [1,3,5,0,1],
     [3,0,2,0,5]],

    [[1,0,0,3,0],
     [3,0,4,-2,2],
     [1,0,2,0,0],
     [3,0,1,1,0]]
])

tf.einsum("bij, bjk -> bik", batch_1, batch_2) # Batch Multiplication

<tf.Tensor: shape=(2, 3, 5), dtype=int32, numpy=
array([[[33, 69, 77, -6, 27],
        [ 9, 12,  0, 10, 13],
        [21, 51, 60, -7, 14]],

       [[77,  0, 36, 19,  6],
        [ 8,  0, 12, -4,  4],
        [23,  0, 29, -6, 10]]], dtype=int32)>

In [56]:
print(tf.einsum("bij -> ", batch_1), "\n\n") # Sum of all elements in a batch

print(tf.einsum("bij -> j", batch_1), "\n\n") # Sum of all  elements in a batch column-wise

print(tf.einsum("bij -> i", batch_1), "\n\n") # Sum of all  elements in a batch row-wise

tf.Tensor(72, shape=(), dtype=int32)


tf.Tensor([ 7 19 18 28], shape=(4,), dtype=int32)


tf.Tensor([42  9 21], shape=(3,), dtype=int32)

### Common Functions

The `tf.expand_dims(input, axis)` function in TensorFlow adds a new dimension to the tensor `input` at the specified `axis` position, effectively increasing the tensor's rank by one.

In [57]:
print(tensor_three_d.shape)

print(tf.expand_dims(tensor_three_d, axis=0).shape)
extended_tensor = tf.expand_dims(tensor_three_d, axis=0)

print(tf.expand_dims(tensor_three_d, axis=1).shape)

(3, 2, 3)
(1, 3, 2, 3)
(3, 1, 2, 3)

The `tf.squeeze(input, axis)` function in TensorFlow removes dimensions of size 1 from the tensor `input`. If the `axis` parameter is specified, it removes only the dimensions with size 1 along those specific axes; otherwise, it removes all singleton dimensions from the tensor.

In [58]:
print(extended_tensor.shape)

print(tf.squeeze(extended_tensor, 0).shape)

(1, 3, 2, 3)
(3, 2, 3)

The `tf.reshape(tensor, shape)` function in TensorFlow changes the shape of the input tensor `tensor` to the specified `shape`, without altering the data. The new shape must be compatible with the **original number** of elements in the tensor.

In [59]:
print(tensor_three_d, "\n\n")

print(tf.reshape(tensor_three_d, shape=[2,3,3]), "\n\n")

print(tf.reshape(tensor_three_d, shape=[2,-1,3])) # The second dimension is inferred automatically based on the number of elements and the other dimensions. TensorFlow calculates the size needed to make the total number of elements consistent with the original tensor.

tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]]

 [[10  2  0]
  [ 1  0  2]]

 [[ 2  1  9]
  [ 4 -3 32]]], shape=(3, 2, 3), dtype=int32)


tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]
  [10  2  0]]

 [[ 1  0  2]
  [ 2  1  9]
  [ 4 -3 32]]], shape=(2, 3, 3), dtype=int32)


tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]
  [10  2  0]]

 [[ 1  0  2]
  [ 2  1  9]
  [ 4 -3 32]]], shape=(2, 3, 3), dtype=int32)

The `tf.concat(values, axis)` function in TensorFlow concatenates a list of tensors along a specified `axis`. The tensors in the `values` list must have the same shape, except in the dimension corresponding to the `axis` where they are concatenated.

In [60]:
print(mat_1, "\n\n", mat_2, "\n\n")

tf.concat([mat_1, mat_2], 0)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)

 tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 4  5  6]], shape=(3, 3), dtype=int32)

<tf.Tensor: shape=(5, 3), dtype=int32, numpy=
array([[ 1,  2,  0],
       [ 3,  5, -1],
       [ 1,  2,  0],
       [ 3,  5, -1],
       [ 4,  5,  6]], dtype=int32)>

The `tf.stack(values, axis)` function in TensorFlow stacks a list of tensors along a new axis, creating a higher-dimensional tensor. All tensors in the `values` list **must have the same shape**. The `axis` parameter specifies the dimension along which to stack the tensors, with a new dimension being added at this position in the output tensor.

In [61]:
print(mat_1, "\n\n", mat_4, "\n\n")


tf.stack([mat_1,mat_4], axis=0)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)

 tf.Tensor(
[[ 1  1  2]
 [ 4 -2 -1]], shape=(2, 3), dtype=int32)

<tf.Tensor: shape=(2, 2, 3), dtype=int32, numpy=
array([[[ 1,  2,  0],
        [ 3,  5, -1]],

       [[ 1,  1,  2],
        [ 4, -2, -1]]], dtype=int32)>

The `tf.pad(tensor, paddings, mode='CONSTANT')` function adds padding to a tensor based on the `paddings` configuration, extending the tensor's dimensions. The `mode` determines how the padding is applied, with `'CONSTANT'` (defaulting to 0) being the most common option.

* `paddings`: A list or tensor of shape `[n, 2]`, where `n` is the rank of the input tensor. Each element specifies how much padding to add before and after the corresponding dimension of the tensor.

* `mode`: The type of padding to apply. The default is `'CONSTANT'`, which pads with a constant value (default is 0). Other options include `'REFLECT'` (reflects the values on the edges) and `'SYMMETRIC'` (mirrors the values on the edges).

In [62]:
tensor = tf.constant([[1,2,3],
                      [4,5,6]])

paddings = tf.constant([[1,1], # Add 1 row of padding before and after the rows of the tensor.
                        [2,2]]) # Add 2 columns of padding before and after the columns of the tensor.

print(tf.pad(tensor, paddings, mode='CONSTANT'), "\n\n")

print(tf.pad(tensor, paddings, mode='CONSTANT', constant_values=-1), "\n\n")

print(tf.pad(tensor, paddings, mode='REFLECT'), "\n\n")

print(tf.pad(tensor, paddings, mode='SYMMETRIC'), "\n\n")

tf.Tensor(
[[0 0 0 0 0 0 0]
 [0 0 1 2 3 0 0]
 [0 0 4 5 6 0 0]
 [0 0 0 0 0 0 0]], shape=(4, 7), dtype=int32)


tf.Tensor(
[[-1 -1 -1 -1 -1 -1 -1]
 [-1 -1  1  2  3 -1 -1]
 [-1 -1  4  5  6 -1 -1]
 [-1 -1 -1 -1 -1 -1 -1]], shape=(4, 7), dtype=int32)


tf.Tensor(
[[6 5 4 5 6 5 4]
 [3 2 1 2 3 2 1]
 [6 5 4 5 6 5 4]
 [3 2 1 2 3 2 1]], shape=(4, 7), dtype=int32)


tf.Tensor(
[[2 1 1 2 3 3 2]
 [2 1 1 2 3 3 2]
 [5 4 4 5 6 6 5]
 [5 4 4 5 6 6 5]], shape=(4, 7), dtype=int32)

In [63]:
paddings = tf.constant([[1,0], # Add 1 row of padding before the rows of the tensor.
                        [1,3]]) # Add 1 columns of padding before and 3 columns of padding after the columns of the tensor.


print(tf.pad(tensor, paddings, mode='CONSTANT'))

tf.Tensor(
[[0 0 0 0 0 0 0]
 [0 1 2 3 0 0 0]
 [0 4 5 6 0 0 0]], shape=(3, 7), dtype=int32)

The `tf.gather(params, indices, axis)` function in TensorFlow extracts elements from the `params` tensor along the specified `axis` according to the `indices` provided. The `indices` tensor specifies which elements to gather, and the result is a new tensor containing the selected elements from the original tensor.

![image.png]()

In [64]:
print(mat_1, "\n\n")

indices = [2,0]
print(tf.gather(mat_1, indices, axis=1))

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)


tf.Tensor(
[[ 0  1]
 [-1  3]], shape=(2, 2), dtype=int32)

The `tf.gather_nd(params, indices)` function in TensorFlow gathers slices from the `params` tensor according to multi-dimensional indices specified in `indices`. Each entry in `indices` is a list of indices that specifies a slice to extract from `params`, allowing for complex and multi-dimensional indexing. The result is a tensor containing the gathered slices.

In [65]:
print(tensor_three_d, "\n\n")

indices = [
    [[0,0],
     [2,1]]
]

tf.gather_nd(tensor_three_d, indices)

tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]]

 [[10  2  0]
  [ 1  0  2]]

 [[ 2  1  9]
  [ 4 -3 32]]], shape=(3, 2, 3), dtype=int32)

<tf.Tensor: shape=(1, 2, 3), dtype=int32, numpy=
array([[[ 1,  2,  0],
        [ 4, -3, 32]]], dtype=int32)>

### Ragged Tensors

In TensorFlow, `tf.ragged` is a module that provides support for working with ragged tensors, which are tensors with varying lengths along one or more dimensions. Unlike regular tensors, where every element in a given dimension must have the same size, ragged tensors can have elements of different sizes.

Key components include:

* `tf.RaggedTensor`: The main class representing a ragged tensor.

* `tf.ragged.constant`: A function to create a ragged tensor from nested Python lists.

* `tf.ragged.stack`: Similar to tf.stack, but for ragged tensors.

* `tf.ragged.boolean_mask`: Applies a boolean mask to a ragged tensor.

In [66]:
tensor_two_d_ragged = tf.ragged.constant([
    [1,2,3],
    [4,5],
    [6,7,8,9]
])

print(tensor_two_d_ragged)
print(tensor_two_d_ragged.shape)

<tf.RaggedTensor [[1, 2, 3], [4, 5], [6, 7, 8, 9]]>
(3, None)

The `tf.ragged.boolean_mask(data, mask)` function in TensorFlow selects elements from a ragged tensor `data` based on a boolean mask `mask`. The `mask` must have the same shape as `data` or be broadcastable to that shape. This function returns a new ragged tensor containing only the elements of `data` where the corresponding `mask` value is `True`, preserving the ragged structure.

In [67]:
print(tensor_two_d_ragged, "\n\n")

tf.ragged.boolean_mask(tensor_two_d_ragged,
                       mask=[True, False, True]) # To select specific rows

<tf.RaggedTensor [[1, 2, 3], [4, 5], [6, 7, 8, 9]]>

A `tf.RaggedTensor` in TensorFlow is a type of tensor that allows for the representation of data with variable-length dimensions, meaning that different rows or slices can have different lengths. Unlike regular tensors, which require all dimensions to be of fixed size, a `RaggedTensor` is useful for handling data like sequences of varying lengths, such as sentences of different word counts or variable-sized image batches.

Key features of RaggedTensor:

* It allows different sub-arrays to have different lengths, providing flexibility in handling irregularly shaped data.

* It can be created using the `tf.RaggedTensor.from_row_lengths()`, `tf.RaggedTensor.from_row_splits()`, or similar factory methods.

* It supports many standard TensorFlow operations, while maintaining the ragged structure.

In [68]:
print(tf.RaggedTensor.from_row_lengths(
    values=[3,1,4,1,5,9,2,6],
    row_lengths=[4,0,3,1] # This list specifies how many elements should go into each row. The function goes through each value in row_lengths and slices off that many elements from values to form each row.
))

<tf.RaggedTensor [[3, 1, 4, 1], [], [5, 9, 2], [6]]>

The `tf.RaggedTensor.from_row_limits()` function in TensorFlow creates a RaggedTensor by specifying row boundaries. Here's a breakdown of how `from_row_limits()` works:

*   `values`: A 1D tensor containing all the elements of the ragged tensor in a flattened format.
*   `row_limits`: A 1D tensor of row boundaries, where each element represents the exclusive ending index for each row. For example, if `row_limits = [3, 5, 7]`, the first row contains elements from values`[0:3]`, the second row from values`[3:5]`, and the third row from values`[5:7]`.

In [69]:
print(tf.RaggedTensor.from_row_limits(
    values=[3,1,4,1,5,9,2,6],
    row_limits=[3,5,8]
))

<tf.RaggedTensor [[3, 1, 4], [1, 5], [9, 2, 6]]>

### Sparse Tensors

The `tf.sparse.SparseTensor` function in TensorFlow creates a sparse tensor, which is a tensor where most elements are zero or missing. Sparse tensors are useful for efficiently storing and processing data with many zero entries, such as in natural language processing (NLP) or certain matrix computations.

A `SparseTensor` is defined by three main components:

1.   `indices`: A 2D tensor specifying the coordinates of non-zero elements in the sparse tensor. Each row is a unique coordinate represented as a list `[i, j, ...]` where `i`, `j`, etc., specify the position of the non-zero element in the respective dimension.
2.   `values`: A 1D tensor containing the actual non-zero values of the sparse tensor, corresponding directly to the positions specified in `indices`.
3.    `dense_shape`: A 1D tensor specifying the shape of the dense tensor that the sparse tensor represents (i.e., the "full" shape including the zero values).

In [70]:
# Create a 3x3 sparse tensor with non-zero values at specific indices
tensor_sparse= tf.sparse.SparseTensor(
    indices=[[0,0],[1,2],[2,1]],
    values=[1,2,3],
    dense_shape=[3,3]
)

print(tensor_sparse)

SparseTensor(indices=tf.Tensor(
[[0 0]
 [1 2]
 [2 1]], shape=(3, 2), dtype=int64), values=tf.Tensor([1 2 3], shape=(3,), dtype=int32), dense_shape=tf.Tensor([3 3], shape=(2,), dtype=int64))

In [71]:
tf.sparse.to_dense(tensor_sparse)

<tf.Tensor: shape=(3, 3), dtype=int32, numpy=
array([[1, 0, 0],
       [0, 0, 2],
       [0, 3, 0]], dtype=int32)>

### String Tensors

In TensorFlow, string tensors are tensors that hold strings as their data type. They work similarly to numeric tensors but store text instead of numbers. String tensors are useful for tasks involving text data, such as natural language processing (NLP) or handling categorical data represented as strings.

Strings are stored as byte arrays in TensorFlow, hence each string is prefixed by `b` to indicate byte encoding (e.g., `b'hello'`).

In [72]:
tensor_string = tf.constant(["hello", "I am", "a string"])
print(tensor_string)

tf.Tensor([b'hello' b'I am' b'a string'], shape=(3,), dtype=string)

Operations on String Tensors:

1.   Concatenation (`tf.strings.join()`)
2.   Splitting (`tf.strings.split()`)
3.   Length (`tf.strings.length()`)
4.   Regex Matching (`tf.strings.regex_full_match()`)

In [73]:
joined = tf.strings.join([tensor_string, tensor_string], separator=", ")
print(joined,"\n\n")

split = tf.strings.split(tensor_string) # SparseTensor with split words for each string
print(split,"\n\n")

lengths = tf.strings.length(tensor_string)  # Tensor with lengths of each string
print(lengths, "\n\n")

matched = tf.strings.regex_full_match(tensor_string, "I am*")
print(matched)

tf.Tensor([b'hello, hello' b'I am, I am' b'a string, a string'], shape=(3,), dtype=string)


<tf.RaggedTensor [[b'hello'], [b'I', b'am'], [b'a', b'string']]>


tf.Tensor([5 4 8], shape=(3,), dtype=int32)


tf.Tensor([False  True False], shape=(3,), dtype=bool)

### Variables

`tf.Variable` in TensorFlow is a mutable tensor, meaning its values can be changed after initialization. This is different from `tf.constant`, which is immutable once created. `tf.Variable` is commonly used to represent weights, biases, and other parameters in machine learning models, as these values need to be updated during training.

Key Features of `tf.Variable`

1.   **Mutability**: Unlike `tf.constant`, which is immutable, a `tf.Variable` can be modified by reassigning its values.
2.   **Tracking**: `tf.Variable` keeps track of its changes, which makes it suitable for use in optimization during training since TensorFlow can watch and update these values.
3.  **Gradients**: `tf.Variable` is tracked by the automatic differentiation engine in TensorFlow, so gradients can be calculated for them, a crucial aspect for model training.

In [74]:
# Creating a tf.Variable with initial values
my_var = tf.Variable(initial_value=[1.0, 2.0, 3.0], dtype=tf.float32, name='My_Var')
print(my_var)

<tf.Variable 'My_Var:0' shape=(3,) dtype=float32, numpy=array([1., 2., 3.], dtype=float32)>

Modifying a `tf.Variable`:
You can modify a `tf.Variable` using the `.assign()`,`.assign_add()`, or `assign_sub()` methods.

In [75]:
# Assign a new value
my_var.assign([4.0, 5.0, 6.0])
print(my_var, "\n\n")

# Increment each element by a specified value
my_var.assign_add([1.0, 1.0, 1.0])
print(my_var, "\n\n")

# Decrement each element by a specified value
my_var.assign_sub([2.0, 2.0, 0.5])
print(my_var)

<tf.Variable 'My_Var:0' shape=(3,) dtype=float32, numpy=array([4., 5., 6.], dtype=float32)>


<tf.Variable 'My_Var:0' shape=(3,) dtype=float32, numpy=array([5., 6., 7.], dtype=float32)>


<tf.Variable 'My_Var:0' shape=(3,) dtype=float32, numpy=array([3. , 4. , 6.5], dtype=float32)>

### Runtime Hardware

`tf.device()` is a TensorFlow context manager that specifies the device on which operations are executed. It allows you to control whether code runs on a CPU, GPU, or other accelerators (like TPUs) if available. This is useful for optimizing performance, as TensorFlow automatically uses GPUs when available, but you may want specific operations to run on different devices.

The `tf.device()` context manager takes a device name (e.g., `"/CPU:0"` or `"/GPU:0"`) and applies it to all operations within its block.

In [76]:
# Place a tensor on the CPU
with tf.device("/CPU:0"):
    cpu_tensor = tf.constant([1.0, 2.0, 3.0])
    print(cpu_tensor, cpu_tensor.device)

with tf.device("/GPU:0"):
        gpu_tensor = tf.constant([4.0, 5.0, 6.0])
        print(gpu_tensor, gpu_tensor.device)

tf.Tensor([1. 2. 3.], shape=(3,), dtype=float32) /job:localhost/replica:0/task:0/device:CPU:0
tf.Tensor([4. 5. 6.], shape=(3,), dtype=float32) /job:localhost/replica:0/task:0/device:GPU:0

### Normalization

In TensorFlow, the `Normalization()` layer is used to standardize input data by adjusting the mean and standard deviation. It applies a transformation to scale the data so that it has a mean of 0 and a standard deviation of 1, which can help improve model performance by making the data more comparable across features.

Here’s a quick breakdown of how it works:

1.   **Calculate Mean and Variance**: During the `adapt()` step, the `Normalization()` layer computes the mean and variance of the input data.
2.   **Standardize Input Data**: When used in a model, it subtracts the mean and divides by the standard deviation for each input feature, producing normalized values.

If you already know the `mean` and `standard deviation` of your data, you can initialize the `Normalization()` layer in TensorFlow with these values directly, skipping the `adapt()` step.

In [77]:
from tensorflow.keras.layers import Normalization

# Known mean and standard deviation
mean = [3.0, 4.0]
stddev = [1.5, 1.5]

# Create a Normalization layer with known mean and standard deviation
normalizer = Normalization(mean=mean, variance=np.square(stddev))

# Example data to normalize
data = np.array([[1.0, 2.0], [3.0, 4.0], [5.0, 6.0]], dtype="float32")

# Normalize the data
normalized_data = normalizer(data)
print(normalized_data)

tf.Tensor(
[[-1.3333334 -1.3333334]
 [ 0.         0.       ]
 [ 1.3333334  1.3333334]], shape=(3, 2), dtype=float32)

In [78]:
# Sample data
data = np.array([[1.0, 2.0], [3.0, 4.0], [5.0, 6.0]], dtype="float32")

# Create a Normalization layer
normalizer = Normalization()

# Fit the normalizer to the data
normalizer.adapt(data)

# Normalize a batch of data
print(normalizer(data))

tf.Tensor(
[[-1.2247449 -1.2247449]
 [ 0.         0.       ]
 [ 1.2247449  1.2247449]], shape=(3, 2), dtype=float32)