<a href="https://colab.research.google.com/github/Iman24474/TensorFlow_DeepDive/blob/main/Tensors_And_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

### Basics

A 0-dimensional tensor, or scalar, is a single numerical value without any dimensions.

In [2]:
tensor_zero_d = tf.constant(4)
print(tensor_zero_d)

tf.Tensor(4, shape=(), dtype=int32)

A 1-dimensional tensor, or vector, is an array of numerical values arranged in a single line, representing a list of elements.

![image.png]()

In [3]:
tensor_one_d = tf.constant([1,2,3])
print(tensor_one_d)

tf.Tensor([1 2 3], shape=(3,), dtype=int32)

A 2-dimensional tensor, or matrix, is an array of numerical values arranged in rows and columns, representing a grid of elements.
![image.png]()

In [4]:
tensor_two_d = tf.constant([
    [1,2,0],
    [3,5,-1],
    [1,5,6],
    [2,3,8]
])
print(tensor_two_d)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]
 [ 2  3  8]], shape=(4, 3), dtype=int32)

A 3-dimensional tensor is an array of numerical values arranged in multiple matrices, representing a cube of elements.

![image.png]()

In [5]:
tensor_three_d = tf.constant([
    [[1,2,0],
     [3,5,-1]],

    [[10,2,0],
     [1,0,2]],

    [[2,1,9],
     [4,-3,32]]
])
print(tensor_three_d)

tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]]

 [[10  2  0]
  [ 1  0  2]]

 [[ 2  1  9]
  [ 4 -3 32]]], shape=(3, 2, 3), dtype=int32)

A 4-dimensional tensor is an array of numerical values arranged in multiple 3D tensors, representing a collection of cubes, often used to represent a batch of images or a sequence of 3D data.

![image.png]()

In [6]:
tensor_four_d = tf.constant([
    [
        [[1,2,3],
         [4,5,6]],

        [[7,8,9],
         [10,11,12]],

        [[13,14,15],
         [16,17,18]]
    ],

    [
        [[19,20,21],
         [22,23,24]],

        [[25,26,27],
         [28,29,30]],

        [[31,32,33],
         [34,35,36]]
    ]
])

print(tensor_four_d)

tf.Tensor(
[[[[ 1  2  3]
   [ 4  5  6]]

  [[ 7  8  9]
   [10 11 12]]

  [[13 14 15]
   [16 17 18]]]


 [[[19 20 21]
   [22 23 24]]

  [[25 26 27]
   [28 29 30]]

  [[31 32 33]
   [34 35 36]]]], shape=(2, 3, 2, 3), dtype=int32)

In TensorFlow, `tensor.shape` is used to get the shape of a tensor, returning a tuple that represents the dimensions of the tensor.

In [7]:
print(tensor_zero_d.shape) # 0d

print(tensor_one_d.shape) # 1d

print(tensor_two_d.shape) # 2d

print(tensor_three_d.shape) # 3d

print(tensor_four_d.shape) # 4d

()
(3,)
(4, 3)
(3, 2, 3)
(2, 3, 2, 3)

In TensorFlow, `tensor.cast()` is used to change the data type of a tensor to a specified type, such as casting a tensor from `tf.float32` to `tf.int32`.

In [8]:
tensor_one_d = tf.constant([2.1, 3.2, 4, 3.3], dtype=tf.float32)
print(tensor_one_d)

casted_tensor_one_d = tf.cast(tensor_one_d, dtype=tf.int32)
print(casted_tensor_one_d)

tf.Tensor([2.1 3.2 4.  3.3], shape=(4,), dtype=float32)
tf.Tensor([2 3 4 3], shape=(4,), dtype=int32)

In NumPy, `numpy.array()` is used to create an array from a list or a sequence of elements, converting the input into a NumPy array.

In [9]:
import numpy as np

In [10]:
np_array = np.array([1,2,3])

print(np_array)

[1 2 3]

In TensorFlow, `tf.convert_to_tensor()` is used to convert a given input, such as a NumPy array or a Python list, into a TensorFlow tensor.

In [11]:
converted_tensor = tf.convert_to_tensor(np_array)

print(converted_tensor)

tf.Tensor([1 2 3], shape=(3,), dtype=int64)

In TensorFlow, `tf.eye()` is used to create a 2-dimensional identity matrix with ones on the diagonal and zeros elsewhere.

In [12]:
eye_tensor = tf.eye(
    num_rows=3,
    num_columns=None,
    batch_shape=None,
    dtype=tf.dtypes.float32,
    name=None
)

print(eye_tensor)

tf.Tensor(
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]], shape=(3, 3), dtype=float32)

In [13]:
eye_tensor = tf.eye(
    num_rows=3,
    num_columns=None,
    batch_shape=[2,],
    dtype=tf.dtypes.float32,
    name=None
)

print(eye_tensor)

tf.Tensor(
[[[1. 0. 0.]
  [0. 1. 0.]
  [0. 0. 1.]]

 [[1. 0. 0.]
  [0. 1. 0.]
  [0. 0. 1.]]], shape=(2, 3, 3), dtype=float32)

In [14]:
eye_tensor = tf.eye(
    num_rows=3,
    num_columns=None,
    batch_shape=[2,2],
    dtype=tf.dtypes.float32,
    name=None
)

print(eye_tensor)

tf.Tensor(
[[[[1. 0. 0.]
   [0. 1. 0.]
   [0. 0. 1.]]

  [[1. 0. 0.]
   [0. 1. 0.]
   [0. 0. 1.]]]


 [[[1. 0. 0.]
   [0. 1. 0.]
   [0. 0. 1.]]

  [[1. 0. 0.]
   [0. 1. 0.]
   [0. 0. 1.]]]], shape=(2, 2, 3, 3), dtype=float32)

In TensorFlow, `tf.fill()` is used to create a tensor with a specified shape and filled with a scalar value. The function signature is `tf.fill(dims, value)`, where `dims` is the shape of the tensor and `value` is the scalar value to fill the tensor with.

In [15]:
filled_tensor = tf.fill([3,4], 5)

print(filled_tensor)

tf.Tensor(
[[5 5 5 5]
 [5 5 5 5]
 [5 5 5 5]], shape=(3, 4), dtype=int32)

In TensorFlow, `tf.ones()` is used to create a tensor with a specified shape and filled with ones.

In [16]:
ones_tensor = tf.ones([3,4])

print(ones_tensor)

tf.Tensor(
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]], shape=(3, 4), dtype=float32)

In TensorFlow, `tf.ones_like()` is used to create a tensor of ones with the same shape and data type as a given input tensor. The function signature is `tf.ones_like(input_tensor, dtype=None, name=None)`, where `input_tensor` is the tensor whose shape and data type are to be matched, and `dtype` (optional) specifies the data type of the new tensor.

In [17]:
ones_like_tensor = tf.ones_like(filled_tensor)

print(ones_like_tensor)

tf.Tensor(
[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]], shape=(3, 4), dtype=int32)

In TensorFlow, `tf.zeros()` is used to create a tensor with a specified shape and filled with zeros. The function signature is `tf.zeros(shape, dtype=tf.float32, name=None)`

In [18]:
zeros_tensor = tf.zeros([3,4])

print(zeros_tensor)

tf.Tensor(
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]], shape=(3, 4), dtype=float32)

In TensorFlow, `tf.zeros_like()` is used to create a tensor of zeros with the same shape and data type as a given input tensor. The function signature is `tf.zeros_like(input_tensor, dtype=None, name=None, optimize=True)`

In [19]:
zeros_like_tensor = tf.zeros_like(filled_tensor)

print(zeros_like_tensor)

tf.Tensor(
[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]], shape=(3, 4), dtype=int32)

In TensorFlow, `tf.shape()` is used to get the shape of a tensor as a 1-D tensor of type int32. The function signature is `tf.shape(input, out_type=tf.dtypes.int32, name=None)`, where `input` is the tensor whose shape is to be determined, `out_type (optional)` specifies the output data type (default is int32), and `name` (optional) gives a name to the operation.

In [20]:
tensor_three_d_shape = tf.shape(tensor_three_d)

print(tensor_three_d_shape)

tf.Tensor([3 2 3], shape=(3,), dtype=int32)

In TensorFlow, `tf.rank()` returns the number of dimensions of a tensor.

In [21]:
tensor = tf.constant([[[1,1,1], [2,2,2]], [[3,3,3], [4,4,4]]])

print(tf.rank(tensor))

tf.Tensor(3, shape=(), dtype=int32)

In TensorFlow, `tf.size()` returns the total number of elements in a tensor. The function signature is `tf.size(input, out_type=tf.dtypes.int32, name=None)`

In [22]:
print(tf.size(tensor))

tf.Tensor(12, shape=(), dtype=int32)

In TensorFlow, `tf.random.normal()` generates a tensor of random values drawn from a normal distribution. The function signature is `tf.random.normal(shape, mean=0.0, stddev=1.0, dtype=tf.float32, seed=None, name=None)`

In [23]:
random_tensor = tf.random.normal(shape=[2,3,2])

print(random_tensor)

tf.Tensor(
[[[ 1.8739166   1.8274437 ]
  [-0.36628008 -0.97413075]
  [ 1.2404052  -1.141716  ]]

 [[ 0.04334133  1.5683824 ]
  [-0.34828573  2.0957363 ]
  [ 0.9831626   0.02041305]]], shape=(2, 3, 2), dtype=float32)

In TensorFlow, `tf.random.uniform()` generates a tensor of random values drawn from a uniform distribution. The function signature is `tf.random.uniform(shape, minval=0, maxval=None, dtype=tf.float32, seed=None, name=None)` where:

`shape` specifies the shape of the output tensor.

`minval` is the lower bound of the uniform distribution (default is 0).

`maxval` is the upper bound of the distribution (if None, defaults to 1).

In [24]:
random_uniform_tensor = tf.random.uniform(shape=[2,3,2])

print(random_uniform_tensor)

tf.Tensor(
[[[0.59812665 0.88744223]
  [0.18437803 0.3381008 ]
  [0.25294912 0.9087819 ]]

 [[0.33329427 0.38027108]
  [0.31319737 0.46930778]
  [0.7273123  0.16766894]]], shape=(2, 3, 2), dtype=float32)

### Indexing

Tensor indexing is the process of accessing specific elements, slices, or sub-tensors within a multi-dimensional tensor using indices along each dimension.

In [25]:
tensor = tf.constant([3,6,2,4,66,7])

print(tensor)
print(tensor[0:4])
print(tensor[:4])
print(tensor[3:])
print(tensor[1:-1]) # Accesses the elements starting from index 1 to the second-to-last element
print(tensor[0:6:2]) # Accesses every second element starting from index 0 up to index 5

tf.Tensor([ 3  6  2  4 66  7], shape=(6,), dtype=int32)
tf.Tensor([3 6 2 4], shape=(4,), dtype=int32)
tf.Tensor([3 6 2 4], shape=(4,), dtype=int32)
tf.Tensor([ 4 66  7], shape=(3,), dtype=int32)
tf.Tensor([ 6  2  4 66], shape=(4,), dtype=int32)
tf.Tensor([ 3  2 66], shape=(3,), dtype=int32)

In [26]:
print(tensor_two_d, "\n")

print(tensor_two_d[:3 , :2], "\n") # This selects the first 3 rows (0, 1, 2) and the first 2 columns (0, 1) of the 2D tensor.

print(tensor_two_d[:3,:], "\n") # This selects the first 3 rows (0, 1, 2) and all columns of the 2D tensor.

print(tensor_two_d[2,:], "\n")

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]
 [ 2  3  8]], shape=(4, 3), dtype=int32)

tf.Tensor(
[[1 2]
 [3 5]
 [1 5]], shape=(3, 2), dtype=int32)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]], shape=(3, 3), dtype=int32)

tf.Tensor([1 5 6], shape=(3,), dtype=int32)

In [27]:
print(tensor_three_d, "\n")

print(tensor_three_d[0, :, :], "\n") # selecting first slice (index 0) of the 3D tensor, which includes all elements across the second and third dimensions

print(tensor_three_d[:1, :2, 0], "\n") #  selecting the first slice, the first two elements of the second dimension, and the first element of the third dimension.

print(tensor_three_d[..., :1, -1]) # all leading dimensions are included, but only the first element of the second-to-last dimension and the last element of the last dimension are selected

tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]]

 [[10  2  0]
  [ 1  0  2]]

 [[ 2  1  9]
  [ 4 -3 32]]], shape=(3, 2, 3), dtype=int32)

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]], shape=(2, 3), dtype=int32)

tf.Tensor([[1 3]], shape=(1, 2), dtype=int32)

tf.Tensor(
[[0]
 [0]
 [9]], shape=(3, 1), dtype=int32)

### Math Operations

`tf.abs()` in TensorFlow computes the element-wise absolute value of the given tensor.

In [28]:
tensor = tf.constant([-2.25, 3.25, -4])

tensor_abs = tf.abs(tensor)
print(tensor_abs)

tf.Tensor([2.25 3.25 4.  ], shape=(3,), dtype=float32)

The `tf.sqrt(x)` function in TensorFlow computes the element-wise square root of the input tensor `x`.

In [29]:
tensor_sqrt = tf.sqrt(tensor_abs)
print(tensor_sqrt)

tf.Tensor([1.5       1.8027756 2.       ], shape=(3,), dtype=float32)

The `tf.add(x, y)` function in TensorFlow performs element-wise addition of two tensors `x` and `y`. The tensors must have the same shape, or be broadcastable to a common shape.

In [30]:
tf.add(tensor_abs, tensor_sqrt)

The `tf.multiply(x, y)` function in TensorFlow performs element-wise multiplication of two tensors `x` and `y`. The tensors must have the same shape or be broadcastable to a common shape.

In [31]:
tf.multiply(tensor_abs, tensor_sqrt)

The `tf.divide(x, y)` function in TensorFlow performs element-wise division of tensor `x` by tensor `y`. The tensors must have the same shape or be broadcastable to a common shape.

In [32]:
tf.divide(tensor_abs, tensor_sqrt)

The `tf.math.divide_no_nan(x, y)` function in TensorFlow performs element-wise division of tensor `x` by tensor `y`, but handles cases where the denominator (`y`) is `zero` or `NaN` (Not a Number). Instead of producing NaNs or infinities in such cases, it returns a specified default value for these situations. This helps to avoid undefined or erroneous results in computations.

In [33]:
tf.math.divide_no_nan(tensor_abs, 0)

The `tf.math.maximum(x, y)` function in TensorFlow performs element-wise comparison between two tensors `x` and `y`, returning a new tensor where each element is the maximum of the corresponding elements in `x` and `y`. The tensors must have the same shape or be broadcastable to a common shape.

In [34]:
print(tensor_abs, "\n\n", tensor_sqrt, "\n")

tf.maximum(tensor_abs, tensor_sqrt)

tf.Tensor([2.25 3.25 4.  ], shape=(3,), dtype=float32)

 tf.Tensor([1.5       1.8027756 2.       ], shape=(3,), dtype=float32)

The `tf.math.minimum(x, y)` function in TensorFlow performs element-wise comparison between two tensors `x` and `y`, returning a new tensor where each element is the minimum of the corresponding elements in `x` and `y`. The tensors must have the same shape or be broadcastable to a common shape.

In [35]:
tf.minimum(tensor_abs, tensor_sqrt)

The `tf.math.argmax(x, axis)` function in TensorFlow returns the **indices** of the maximum values along a specified axis of the tensor `x`. The `axis` parameter specifies the dimension along which to find the maximum values. The result is a tensor of indices where each element represents the index of the maximum value in that dimension. If `axis` is not specified, it defaults to finding the index of the maximum value across the entire tensor.

In [36]:
print(tensor, "\n")

print(tf.math.argmax(tensor)) # Return index 1

tf.Tensor([-2.25  3.25 -4.  ], shape=(3,), dtype=float32)

tf.Tensor(1, shape=(), dtype=int64)

In [37]:
print(tensor_three_d, "\n") # Has three dimensions => 0 for layers axis, 1 for rows axis, 2 for columns axis

print(tf.math.argmax(tensor_three_d, 1))

tf.Tensor(
[[[ 1  2  0]
  [ 3  5 -1]]

 [[10  2  0]
  [ 1  0  2]]

 [[ 2  1  9]
  [ 4 -3 32]]], shape=(3, 2, 3), dtype=int32)

tf.Tensor(
[[1 1 0]
 [0 0 1]
 [1 0 1]], shape=(3, 3), dtype=int64)

The `tf.math.argmin(x, axis)` function in TensorFlow returns the indices of the **minimum** values along a specified axis of the tensor `x`. The `axis` parameter indicates the dimension along which to find the minimum values. The result is a tensor of indices where each element represents the index of the minimum value in that dimension. If `axis` is not specified, it defaults to finding the index of the minimum value across the entire tensor.

In [38]:
print(tf.math.argmin(tensor_three_d, 1))

tf.Tensor(
[[0 0 1]
 [1 1 0]
 [0 1 0]], shape=(3, 3), dtype=int64)

The `tf.math.equal(x, y)` function in TensorFlow performs element-wise comparison between two tensors `x` and `y`, returning a tensor of boolean values where each element is `True` if the corresponding elements in `x` and `y` are equal, and `False` otherwise. The tensors must have the same shape or be broadcastable to a common shape.

In [39]:
tf.math.equal(tensor_abs, tensor_sqrt)

The `tf.math.pow(x, y)` function in TensorFlow performs element-wise exponentiation, where each element of tensor `x` is raised to the power of the corresponding element in tensor `y`. The tensors `x` and `y` must have the same shape or be broadcastable to a common shape.

In [40]:
print(tf.math.pow(tensor_abs, 2))

print(tf.math.pow(tensor_abs, [2, 3, 4]))

tf.Tensor([ 5.0625 10.5625 16.    ], shape=(3,), dtype=float32)
tf.Tensor([  5.0625    34.328125 256.      ], shape=(3,), dtype=float32)

The `tf.reduce_sum(input_tensor, axis)` function in TensorFlow computes the sum of elements across a specified `axis` of the tensor `input_tensor`. If `axis` is not specified, it sums all elements of the tensor. The result is a tensor with reduced dimensions based on the specified axis, where each element is the sum of the elements along that axis.

In [41]:
print(tensor_two_d, "\n")

print(tf.reduce_sum(tensor_two_d), "\n") # Returns the sums of all values

print(tf.reduce_sum(tensor_two_d, 0), "\n") # Returns the sums of all row values in each column

print(tf.reduce_sum(tensor_two_d, 1)) # Returns the sums of all column values in each row

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]
 [ 2  3  8]], shape=(4, 3), dtype=int32)

tf.Tensor(35, shape=(), dtype=int32)

tf.Tensor([ 7 15 13], shape=(3,), dtype=int32)

tf.Tensor([ 3  7 12 13], shape=(4,), dtype=int32)

TensorFlow provides several `tf.reduce_*` functions to perform reduction operations on tensors. Some of the commonly used ones include:

`tf.reduce_mean(input_tensor, axis)`: Computes the mean of elements across the specified axis.

`tf.reduce_max(input_tensor, axis)`: Finds the maximum value of elements across the specified axis.

`tf.reduce_min(input_tensor, axis)`: Finds the minimum value of elements across the specified axis.

`tf.reduce_prod(input_tensor, axis)`: Computes the product of elements across the specified axis.

`tf.reduce_all(input_tensor, axis)`: Returns True if all elements across the specified axis are True.

`tf.reduce_any(input_tensor, axis)`: Returns True if any element across the specified axis is True.

`tf.reduce_variance(input_tensor, axis)`: Computes the variance of elements across the specified axis.

`tf.reduce_std(input_tensor, axis)`: Computes the standard deviation of elements across the specified axis.

The `tf.math.sigmoid(x)` function in TensorFlow applies the sigmoid activation function element-wise to the input tensor `x`. The sigmoid function is defined as:

`() = 1 / (1 +  ^ )`

This function maps input values to a range between 0 and 1, making it commonly used in binary classification problems and as an activation function in neural networks. The output tensor has the same shape as the input tensor, with each element transformed by the sigmoid function.

In [51]:
print(tensor_two_d, "\n")
tensor_two_d = np.array(tensor_two_d, dtype=np.float32)
print(tf.math.sigmoid(tensor_two_d))

tf.Tensor(
[[ 1  2  0]
 [ 3  5 -1]
 [ 1  5  6]
 [ 2  3  8]], shape=(4, 3), dtype=int32)

tf.Tensor(
[[0.73105854 0.8807971  0.5       ]
 [0.95257413 0.9933072  0.2689414 ]
 [0.73105854 0.9933072  0.99752736]
 [0.8807971  0.95257413 0.99966466]], shape=(4, 3), dtype=float32)

The `tf.math.top_k(input, k)` function in TensorFlow retrieves the top `k` highest values and their corresponding indices along the last dimension of the input tensor. The function returns a tuple containing two tensors:

1. Values: A tensor of the top `k` values.
2. Indices: A tensor of the indices corresponding to these top `k` values in the original tensor.

The input tensor can be multi-dimensional, but the operation is applied along the last dimension by default. The result retains the shape of the input tensor, with the size of the last dimension reduced to `k`.

In [54]:
print(tensor_two_d, "\n")
tf.math.top_k(tensor_two_d)

[[ 1.  2.  0.]
 [ 3.  5. -1.]
 [ 1.  5.  6.]
 [ 2.  3.  8.]]

TopKV2(values=<tf.Tensor: shape=(4, 1), dtype=float32, numpy=
array([[2.],
       [5.],
       [6.],
       [8.]], dtype=float32)>, indices=<tf.Tensor: shape=(4, 1), dtype=int32, numpy=
array([[1],
       [1],
       [2],
       [2]], dtype=int32)>)

In [55]:
tf.math.top_k(tensor_two_d, k = 2)

TopKV2(values=<tf.Tensor: shape=(4, 2), dtype=float32, numpy=
array([[2., 1.],
       [5., 3.],
       [6., 5.],
       [8., 3.]], dtype=float32)>, indices=<tf.Tensor: shape=(4, 2), dtype=int32, numpy=
array([[1, 0],
       [1, 0],
       [2, 1],
       [2, 1]], dtype=int32)>)

### Linear Algebra

The `tf.linalg.matmul(a, b)` function in TensorFlow performs **matrix multiplication** between two tensors `a` and `b`. For 2D tensors, it computes the dot product of rows from `a` with columns from `b`.

For higher-dimensional tensors, it applies matrix multiplication to the last two dimensions while broadcasting across the other dimensions as needed. The shapes of `a` and `b` must be compatible for this operation.

In [60]:
mat_1 = tf.constant([[1,2,0],
                     [3,5,-1]])

mat_2 = tf.constant([[1,2,0],
                     [3,5,-1],
                     [4,5,6]])

print(mat_1.shape, mat_2.shape, "\n")

tf.linalg.matmul(mat_1, mat_2) # Number of columns in mat_1 should be = Number of rows in mat_2
                              # Output shape is based on mat_1 rows and mat_2 columns

(2, 3) (3, 3)

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[  7,  12,  -2],
       [ 14,  26, -11]], dtype=int32)>

An alternative way to perfom matrix multiplication is to use `@`.

In [61]:
print(mat_1 @ mat_2)

tf.Tensor(
[[  7  12  -2]
 [ 14  26 -11]], shape=(2, 3), dtype=int32)